
.sections{
height:100vh;
width: 100%;
margin-top:115px;
display: flex;
    flex-direction: row;
   
   flex-flow: wrap;

}
.app-text{
    padding-top: 150px;
    width: 40%;
    float: left;
}
.app-picture{
   width: 60%;
    float: right;
   padding-top: 4px;
}

.app-text h3{
  
    text-align: center;

    font-size: 17px;
    color: #000;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.app-text h1{
    text-align: center;

    font-size: 47px;
    position: relative;
    color: #000;
    margin-top: 30px;
    font-weight: 700;
    line-height: 1;
}

.app-text p{
    text-align: center;
    font-size: 19px;
    margin: 30px 30px 30px 0;
    letter-spacing: 1px;
    color: #000;
   padding: 0 0 50px 50px;
}

.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width: 100%;
   flex-flow: wrap;

}

.section-title{
    width: 100%;
    height: fit-content;
    text-align: center;

}
.team{
    width: 20%;
    margin: 30px;
    text-align: center;
    background-color: #eceef0ea;
    border-radius: 15px;
    box-shadow: inset -5px -5px 9px rgba(237, 231, 231, 0.45), inset 5px 5px 9px rgba(94,104,121,0.3);

}
.team:nth-child(2){
    transition-delay: 200ms;
}
.team:nth-child(3){
    transition-delay: 400ms;

}.team:nth-child(4){
    transition-delay: 600ms;

}

@media screen and (max-width:1200px){
    .team{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .team{
        width:90%;
    }
}