


.hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   width: 100%;
   flex-flow: wrap;

}

.section-title{
    width: 100%;
    height: fit-content;
    text-align: center;

}
.team{
    width: 20%;
    margin: 30px;
    text-align: center;
    background-color: #f2cc8f;
    border-radius: 0.75em;
    border: 2px solid #b18597;
    transition-delay: 100ms;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;


}

.team:nth-child(2){
    transition-delay: 100ms;
}
.team:nth-child(3){
    transition-delay: 100ms;

}.team:nth-child(4){
    transition-delay: 100ms;

}

@media screen and (max-width:1200px){
    .app-texts{
        width: 100%;
        float: right;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0px ;
        background: #FFF;
    }
    .app-pictures{
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        height:500px;
    }
    .team{
        width: 45%;
    }

   

}

@media screen and (max-width:600px){
    .team{
        width:90%;
    }
    
}