.sections{
    height:100vh;
    width: 100%;
    margin-top:115px;
    display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
    .app-texts{
        width: 40%;
        float: right;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 70px 0px 0px 50px;
        background: #FFF;
    }
    .app-pictures{
        width: 60%;
        float: left;
        display: flex;
        flex-direction: column;
    }
    
    .app-text h3{
        text-align: center;
        font-size: 17px;
        color: #000;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    .app-text h1{
        text-align: center;
        font-size: 47px;
        position: relative;
        color: #000;
        margin-top: 30px;
        font-weight: 700;
        line-height: 1;
    }
    
    .app-text p{
        text-align: center;
        font-size: 19px;
        letter-spacing: 1px;
        color: #000;
    }

    @media screen and (max-width:1200px){
        .app-texts{
            width: 100%;
            float: right;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 0px ;
            background: #FFF;
        }
        .app-pictures{
            width: 100%;
            float: left;
            display: flex;
            flex-direction: column;
            height:500px;
        }
       
    
       
    
    }